
.card {
  
width:20%;
 margin-left:40%;
 margin-right:40%;
 
}

#cr{
  margin-top:2em;
}

.song-list{
 
  text-align:center;
  
}

#btn{
 margin-top:2em;
 margin-left:46%;
 margin-right:44%;
}



#song-btn {
  
  margin-left:1em;
  margin-right:1em;
  margin-top:1em;
  width:5em;
}

